<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-light" (click)="btnBack()">
        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
        Back
      </button>
    </div>
    <div class="col-6 " *ngIf="!back">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input 
                    type="text"
                    class="form-control"
                    #dp="bsDatepicker"
                    bsDatepicker
                    (bsValueChange)="onValueChange($event)"
                    [bsValue]="bsValue" 
                    [minDate]="minDate"
                    [maxDate]="maxDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar" 
                      (click)="dp.toggle()" 
                      [attr.aria-expanded]="dp.isOpen"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
<hr>

<div class="container" *ngIf="back">
  <div *ngFor="let bt of booking_type; let i=index" class="card bg-dark text-white">
    <a (click)="onSelectRoomType(bt)">
      <img [src]=bt.imgurl class="card-img">
      <div class="card-img-overlay ">
        <div class="col-md-4 offset-md-4">
          <div class="bkt-img-content align-middle ">
            <h5 class="card-title">{{bt.title}}</h5>
            <p class="card-text">{{bt.detail}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
</div>

<app-booking-detail [room]="selectroom" [back]="back"  [bsValue]="bsValue"></app-booking-detail>